<h1>this is the comment edit page</h1>

<form action="/comments/<%= @comment.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="comment_id" value="<%= @comment.id %>">
  <label for="">content</label>
  <textarea name="content"><%= @comment.content %></textarea>
  <button>update</button>
</form>