<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>stock request</title>
</head>
<body>
  <form action="/answer" method="get">
    <input type="text" name="stock_ticker">
    <button type="submit">submit</button>
  </form>
  
</body>
</html>